<tr class="{CSS_ROW} fsxSortable">
	<!-- BEGIN sortable -->
	<td class="std">
		<img src="Customizing/global/plugins/Libraries/iLubFieldDefiniton/templates/images/move.png">
		<input type="hidden" name="position[]" value="{POSITION_ID}"/>
	</td>
	<!-- END sortable -->
	<td class="std small">{VAL_NAME}</td>
	<td class="std small">{VAL_TYPE}</td>
	<td class="std small">
		<input type="checkbox" name="required[{VAL_ID}]" value="1" {REQUIRED_CHECKED} />
	</td>
	<td class="std small">{ACTIONS}</td>
</tr>
